.App {
  border:0px;
  text-align: center;
  background-image: url('https://1.bp.blogspot.com/-6oCOl4MR8jg/Ua8Y0NjKedI/AAAAAAAAFMk/qzY41ie3BKM/s1600/light-blue-checkerboard-pattern.jpg')
}

h1{
  color:black;
  background:white;
}
